# Required Vars
API_HASH=a614a27fc39c3e54bf2e15da2a971e78
API_ID=22286680
BOT_TOKEN=7573169920:AAEFEuHu_WcKOagISCdYSHdtFMSmkAM0t2k
DATABASE_URI=mongodb://bot_user:yourpassword@localhost:27017/MissKatyDB?authSource=admin
LOG_CHANNEL=-1002475028385

# Optional Vars
SUDO=617426792
DATABASE_NAME=MissKatyDB
SUPPORT_CHAT=YasirPediaChannel
COMMAND_HANDLER=/
USER_SESSION=
OPENAI_API=
GOOGLEAI_API=AIzaSyBYseOMSdp7VTVBEXbVvEVjCi8exGpoK4w
CURRENCY_API=
